{% extends "bootstrap/base.html" %}
{% block title %}Main page of application{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">CryptoIntegrator</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Stub for main page of application</h1>
    <div class="row" id="core-content">
    <div class="col-md-7">
        COL MD 7
    </div>
    <div class="col-md-5">
        {% include 'twitter.html' %}
    </div>
    </div>
{% endblock %}